body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

ul li {
    list-style: none;
}

input {
    appearance: none;
    -webkit-appearance: none;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

aside,
footer,
header,
nav,
section,
main {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: unset;
    border: unset;
    background: unset;
    text-align: unset;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

html,
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    color: $tblue;
}

.right-aligned {
    margin-left: auto;
}

.is-visible {
    opacity: 1 !important;
    pointer-events: all !important;
    transition: opacity $trans;
}

.is-avatar-container {
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.has-disabled-events {
    pointer-events: none;
}

//basic styles for body
body {
    min-width: 320px;
    background-color: #1C1C40;
    overflow-x: hidden;
    &:not(.is-safari) * {
        will-change: unset;
    }
}

// global content wrapper
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    >.main {
        flex-grow: 1;
    }
}

// main container
.limiter {
    width: calc(100% - 180px);
    max-width: 1740px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 1500px) {
        width: calc(100% - 60px);
    }
    @media (max-width: 1170px) {
        width: calc(100% - 40px);
    }
}

// flex layout
.flex-layout {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    &-column {
        width: 100%;
        display: flex;
        flex-direction: column;
        &-left {
            margin-right: 20px;
            width: calc(((504 / 1380) * 100%) - 10px);
            @media (max-width: 1170px) {
                margin-right: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
            }
        }
        &-right {
            width: calc(((876 / 1380) * 100%) - 10px);
            @media (max-width: 1170px) {
                width: 100%;
                display: flex;
                flex-direction: column;
            }
        }
        &-half {
            width: calc(50% - 10px);
            @media (max-width: 1170px) {
                width: 100%;
                display: flex;
                flex-direction: column;
            }
            &--left {
                margin-right: 20px;
                @media (max-width: 1170px) {
                    margin-right: 0;
                }
            }
        }
    }
}

// styled scrollbar
.has-styled-scrollbar {
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar:horizontal {
        width: 100%;
        height: 4px;
    }
    &::-webkit-scrollbar-button {
        display: none;
    }
    &::-webkit-scrollbar-track {
        background: #1B1B40;
        border-radius: $bradius;
    }
    &::-webkit-scrollbar-thumb {
        background: #2A2A4E;
        border-radius: 10px;
    }
    &.has-styled-scrollbar--horizontal {
        &::-webkit-scrollbar {
            height: 4px;
            width: unset;
        }
    }
}

// input
input {
    height: 36px;
    border: 1px solid $border;
    border-radius: $bradius;
    font-size: rem(16);
    color: $white;
    background-color: transparent;
    padding: 0 15px;
    width: 100%;
    &::placeholder {
        color: #262649;
    }
    &:focus {
        outline: none;
    }
    &[readonly] {
        text-overflow: ellipsis;
    }
}

select {
    -webkit-appearance: none;
    appearance: none;
    height: 36px;
    border: 1px solid $border;
    border-radius: $bradius;
    font-size: rem(16);
    color: $white;
    background-color: transparent;
    padding: 0 30px 0 15px;
    width: 100%;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.select-wrapper {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        width: 10px;
        height: 16px;
        background: url('../img/icons/icon-chevron-for-select.svg') no-repeat center;
        background-size: 100% 100%;
    }
}

// input module
.input-module {
    &__inner {
        position: relative;
        span {
            position: absolute;
            z-index: 1;
            left: 4px;
            right: 4px;
            top: calc(100% + 3px);
            color: red;
            font-size: rem(12);
            display: none;
        }
    }
    &__title {
        margin-bottom: 7px;
        font-size: rem(14);
        color: $tblue;
    }
    &--white {
        .input-module {
            &__title {
                color: $white;
            }
        }
    }
    &.is-wrong {
        input {
            border-color: red;
        }
        .input-module__inner span {
            display: block;
        }
    }
}

.input-module-with-btns {
    height: 46px;
    border: 1px solid $border;
    border-radius: $bradius;
    padding: 5px 4px 5px 10px;
    display: flex;
    align-items: center;
    @media (max-width: 650px) {
        height: auto;
        padding: 5px 10px 10px;
        flex-wrap: wrap;
    }
    &.is-small {
        height: 36px;
        @media (max-width: 650px) {
            height: auto;
        }
        .input-module-with-btns__holder {
            @media (max-width: 650px) {
                justify-content: space-between;
                display: flex;
            }
            .def-btn {
                padding: 0 11px;
                height: 24px;
                width: 30px;
                @media (max-width: 650px) {
                    width: 48%;
                    height: 36px;
                }
            }
        }
    }
    input {
        height: 36px;
        border: none;
        box-sizing: border-box;
        padding-left: 6px;
        flex-grow: 1;
        color: $white;
        @media (max-width: 650px) {
            margin: 0 -10px 10px;
            padding: 0 10px 4px;
            height: 40px;
            border-bottom: 1px solid $border;
            border-radius: 0;
        }
        &::placeholder {
            color: $tblue;
        }
    }
    &__holder {
        flex-shrink: 0;
        @media (max-width: 650px) {
            width: 100%;
        }
        >.def-btn {
            padding: 0 20px;
            margin-right: 5px;
            @media (max-width: 650px) {
                padding: 0;
                width: 100%;
                margin-right: 0;
                margin-bottom: 5px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &.is-counter {
        @media (max-width: 650px) {
            input {
                text-align: center;
            }
        }
    }
}

// input label
.input-label {
    margin-bottom: 18px;
    font-size: rem(14);
    line-height: lh(16, 14);
    color: $tblue;
}

// default table
.table {
    .t-row {
        display: flex;
    }
    .t-head {
        padding: 13px 0;
        background: #202044;
        border-radius: $bradius;
        margin-bottom: 13px;
        .t-item {
            font-size: rem(12);
            text-transform: uppercase;
            color: #969DCD;
            align-items: flex-start;
        }
    }
    .t-item {
        display: flex;
        align-items: center;
        padding-right: 10px;
        >* {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 100%;
        }
        img {
            flex-shrink: 0;
        }
    }
}

//wpn-table
.wpn-table {
    .t-body {
        .t-row {
            padding: 0 0 16px;
            border-bottom: 1px solid #1D2450;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
                padding-bottom: 10px;
                border-bottom: none;
            }
            .t-item {
                font-size: rem(14);
                color: #969DCD;
            }
        }
    }
    &__player {
        align-items: center;
        img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            margin-right: 10px;
        }
        a {
            @include hover();
        }
        &-empty {
            width: 24px;
            height: 24px;
            background-color: #262649;
            span {
                font-size: rem(14);
                color: #969DCD;
            }
        }
    }
    &__skin {
        &-amount {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            margin-right: 10px;
            border-radius: 50%;
            background: #020226;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            font-weight: 500;
            font-size: rem(14);
        }
        &-container {
            width: 50px;
            height: 50px;
            margin-right: 10px;
            position: relative;
            flex-shrink: 0;
            @media (max-width: 650px) {
                width: 30px;
                height: 30px;
            }
            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                z-index: 1;
            }
            &:before {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 20px;
                height: 20px;
                background: rgba(0, 118, 254, 0.4);
                filter: blur(10px);
                border-radius: 50%;
                @media (max-width: 650px) {
                    width: 12px;
                    height: 12px;
                    filter: blur(5px);
                }
            }
        }
    }
    &__game {
        img {
            margin-right: 10px;
        }
    }
}

// accordion styles
.ac {
    position: relative;
    width: 100%;
    background: #16163A;
    border: 1px solid #252549;
    border-radius: $bradius;
    transition: padding-bottom $trans;
    &-h {
        padding: 15px 30px;
        border-bottom: 1px solid transparent;
        display: flex;
        width: 100%;
        align-items: center;
        transition: border-color $trans, margin-bottom $trans;
        @media (max-width: 650px) {
            padding: 15px;
        }
        &.is-disabled {
            pointer-events: none !important;
        }
        &:hover {
            .ac-h__title {
                color: $white;
                transition: color $trans;
            }
        }
        &__title {
            flex-grow: 1;
            overflow: hidden;
            font-size: rem(14);
            color: #969DCD;
            transition: color $trans;
            display: flex;
            align-items: center;
            word-break: break-word;
            padding-right: 15px;
            img,
            svg {
                margin-right: 10px;
            }
            svg {
                fill: $white;
            }
        }
        &__arrow {
            width: 36px;
            justify-content: center;
            flex-shrink: 0;
            svg {
                width: 5px;
                height: 8px;
                margin-right: 0 !important;
                transform: rotate(90deg);
                transition: transform $trans;
            }
        }
    }
    &-c {
        padding: 0 30px;
        overflow: hidden;
        opacity: 0;
        font-size: rem(13);
        line-height: lh(16, 13);
        color: #969DCD;
        transition: height $trans, opacity $trans;
        @media (max-width: 650px) {
            padding: 0 15px;
        }
        p {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                text-decoration: underline;
                @include hover();
            }
        }
    }
    &.is-opened {
        padding-bottom: 25px;
        transition: padding-bottom $trans;
        @media (max-width: 650px) {
            padding-bottom: 15px;
        }
        .ac {
            &-h {
                border-color: #252549;
                margin-bottom: 25px;
                transition: border-color $trans, margin-bottom $trans;
                @media (max-width: 650px) {
                    margin-bottom: 15px;
                }
                &__arrow svg {
                    transform: rotate(-90deg);
                    transition: transform $trans;
                }
            }
            &-c {
                opacity: 1;
                height: unset;
                transition: height $trans, opacity $trans;
            }
        }
    }
}

// switcher
.switcher {
    display: block;
    width: 40px;
    height: 14px;
    background: #252549;
    border-radius: $bradius;
    position: relative;
    cursor: pointer;
    span {
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: $tblue;
        transform: translate(calc(-50% - 13px), 0);
        transition: transform $trans, background-color $trans;
    }
    input:checked~span {
        transform: translate(calc(-50% + 13px), 0);
        background-color: #2CDDB3;
        transition: transform $trans, background-color $trans;
    }
}

//colors class
.is-colored-blue {
    color: #0076FE !important;
}

.is-colored-red {
    color: #FF547C !important;
}

.is-colored-green {
    color: #4DB283 !important;
}

.is-colored-dark {
    color: #39305E !important;
}

.is-bg-blue {
    background-color: #0076FE !important;
}

.is-bg-red {
    background-color: #FF547C !important;
}

.is-bg-green {
    background-color: #4DB283 !important;
}

.is-bg-dark {
    background-color: #39305E !important;
}

// checkbox
input[type="checkbox"] {
    width: 26px;
    height: 26px;
    visibility: hidden;
    position: relative;
    cursor: pointer;
    &:before,
    &:after {
        content: '';
        visibility: visible;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &:before {
        width: inherit;
        height: inherit;
        background-color: #262649;
        border-radius: 38.5%;
    }
    &:after {
        width: 38.5%;
        height: 30.7%;
        background: url('../img/icons/icon-check.svg') no-repeat center;
        background-size: 100% 100%;
        display: none;
    }
    &:checked {
        &:before {
            background: linear-gradient(98.34deg, #8F46FF 0%, #0076FE 100%);
        }
        &:after {
            display: block;
        }
    }
}