<!DOCTYPE html>
<html lang="ru">

@@include("../blocks/modules/head/head.html")

<body>

    <!-- content wrapper -->
    <div class="wrapper">

        <!-- header -->
        @@include("../blocks/modules/header/header.html")

        <!-- nav-bar -->
        @@include("../blocks/modules/nav-bar/nav-bar.html")

        <!-- main content -->
        <main class="main">
            <div class="pages-list limiter" style="padding: 0px 0 50px">
                <h1 style="font-size: 32px; margin: 30px 0 40px; color: white;">Список страниц / Knifex-игры</h1>
                <a class="def-link" href="page-crash.html" style="margin-bottom: 20px; font-size: 20px; display: block;">1. Режим Crash e1 +Адаптив</a>
                <a class="def-link" href="page-crash-stop-upgrade.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">2. Режим Crash e2 +Адаптив</a>
                <a class="def-link" href="page-profile.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">3. Профиль пользователя +Адаптив</a>
                <a class="def-link" href="page-profile-game-history.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">4. История игр пользователя +Адаптив</a>
                <a class="def-link" href="page-profiles-top.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">5. Топ игроков +Адаптив</a>
                <a class="def-link" href="page-balance-add.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">6. Пополнение баланса +Адаптив</a>
                <a class="def-link" href="page-faq.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">7. FAQ +Адаптив</a>
                <a class="def-link" href="page-faq-help.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">8. FAQ Помощь +Адаптив</a>
                <a class="def-link" href="page-settings.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">9. Настройки профиля +Адаптив</a>
                <a class="def-link" href="page-settings-trade.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">10. Настройки профиля (Trade url setted) +Адаптив</a>
                <a class="def-link" href="page-settings-no-auth.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">11. Настройки профиля (Non-Steam) +Адаптив</a>
                <a class="def-link" href="page-terms-of-use.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">12. Пользовательское соглашение +Адаптив</a>
                <a class="def-link" href="page-true-game.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">13. Честная игра +Адаптив</a>
                <a class="def-link" href="page-game-check.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">14. Честная игра > проверка +Адаптив</a>
                <a class="def-link" href="page-game-mines-1.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">15. Игра Mines 1 +Адаптив</a>
                <a class="def-link" href="page-game-mines-2.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">16. Игра Mines 2 +Адаптив</a>
                <a class="def-link" href="page-game-wheel-1.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">17. Игра Wheel 1 +Адаптив</a>
                <a class="def-link" href="page-game-wheel-2.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">18. Игра Wheel 2 +Адаптив</a>
                <a class="def-link" href="page-game-wheel-3.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">19. Игра Wheel 3 +Адаптив</a>
                <a class="def-link" href="page-game-classic-1.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">20. Игра Classic 1 +Адаптив</a>
                <a class="def-link" href="page-game-classic-2.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">21. Игра Classic 2 +Адаптив</a>
                <a class="def-link" href="page-game-classic-3.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">22. Игра Classic 3 +Адаптив</a>
                <a class="def-link" href="page-game-classic-4.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">23. Игра Classic 4 +Адаптив</a>
                <a class="def-link" href="page-game-classic-5.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">24. Игра Classic 5 +Адаптив</a>
                <a class="def-link" href="page-game-battle-1.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">25. Игра Battle 1 +Адаптив</a>
                <a class="def-link" href="page-game-battle-2.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">26. Игра Battle 2 +Адаптив</a>
                <a class="def-link" href="page-game-battle-3.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">27. Игра Battle 3 +Адаптив</a>
                <a class="def-link" href="page-game-battle-4.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">28. Игра Battle 4 +Адаптив</a>
                <a class="def-link" href="page-game-clash-1.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">29. Игра Clash 1 +Адаптив</a>
                <a class="def-link" href="page-game-clash-2.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">30. Игра Clash 2 +Адаптив</a>
                <a class="def-link" href="page-game-clash-3.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">31. Игра Clash 3 +Адаптив</a>
                <a class="def-link" href="page-connect-services.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">32. Привязка Steam и Etherium +Адаптив</a>
                <a class="def-link" href="page-eth.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">33. Вывод Etherium +Адаптив</a>
                <a class="def-link" href="page-withdraw-1.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">33. Вывод скинов 1 +Адаптив</a>
                <a class="def-link" href="page-withdraw-2.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">34. Вывод скинов 2 +Адаптив</a>
                <a class="def-link" href="page-withdraw-3.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">35. Вывод скинов 3 +Адаптив</a>
                <a class="def-link" href="page-withdraw-history.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">36. Вывод скинов - история +Адаптив</a>
                <a class="def-link" href="page-free-1.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">37. Бесплатные раздачи 1 +Адаптив</a>
                <a class="def-link" href="page-free-2.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">38. Бесплатные раздачи 2 +Адаптив</a>
                <a class="def-link" href="page-free-latest-wins.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">39. Бесплатные раздачи - последние выйгрыши +Адаптив</a>
                <a class="def-link" href="404.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">40. 404</a>
                <a class="def-link" href="page-cloudflare.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">41. CLOUDFLARE</a>
                <a class="def-link" href="page-modals.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">42. Модальные окна +Адаптив</a>
                <h1 style="font-size: 32px; margin: 30px 0 40px; color: white;">Список страниц / Knifex-кейсы</h1>
                <a class="def-link" href="page-upgrader-1.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">1. Upgrader 1 +Адаптив</a>
                <a class="def-link" href="page-cases.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">2. Режим Cases +Адаптив</a>
                <a class="def-link" href="page-case-open-1.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">3. Открытие кейса 1 +Адаптив</a>
                <a class="def-link" href="page-case-open-2.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">4. Открытие кейса 2 +Адаптив</a>
                <a class="def-link" href="page-case-open-3.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">5. Открытие кейса 3 +Адаптив</a>
                <a class="def-link" href="page-case-multi-1.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">6. Открытие нескольких кейсов 1 +Адаптив</a>
                <a class="def-link" href="page-case-multi-2.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">7. Открытие нескольких кейсов 2 +Адаптив</a>
                <a class="def-link" href="page-group-game-1.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">8. Групповая игра 1 +Адаптив</a>
                <a class="def-link" href="page-group-game-2.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">9. Групповая игра 2 +Адаптив</a>
                <a class="def-link" href="page-group-game-3.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">10. Групповая игра 3 +Адаптив</a>
                <a class="def-link" href="page-group-game-list.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">11. Список групповых игр +Адаптив</a>
                <a class="def-link" href="page-group-game-create-1.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">12. Создать групповую игру 1 +Адаптив</a>
                <a class="def-link" href="page-group-game-create-2.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">13. Создать групповую игру 2 +Адаптив</a>
                <a class="def-link" href="page-group-game-create-3.html" style=" margin-bottom: 20px; font-size: 20px; display: block;">14. Создать групповую игру 3 +Адаптив</a>
            </div>
        </main>

        <!-- footer -->
        @@include("../blocks/modules/footer/footer.html")

    </div>

    <!-- chat module -->
    @@include("../blocks/modules/chat/chat.html")

    <!-- modals module -->
    @@include("../blocks/modules/modals/modals.html")

    <!-- connecting scripts -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/vendor.js"></script>

</body>

</html>