// game mines play
.game {
    &-heading {
        &__mines {
            svg {
                width: 22px;
                height: 28px;
                fill: $white;
                stroke: $white;
            }
        }
    }
}

.mines-manage {
    &__bombs-amount {
        margin-bottom: 20px;
    }
    &__submit {
        width: 100%;
    }
    &__mix {
        width: 100%;
        margin-top: 20px;
        color: $white;
    }
}

// game mines
.game-mines {
    &-area {
        width: calc(100% - 130px);
        min-width: 344px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 1170px) {
            min-width: auto;
            width: 100%;
        }
        &__block {
            width: calc(20% - 8px);
            margin-right: 10px;
            position: relative;
            border-radius: 3px;
            margin-bottom: 10px;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center;
            transform: rotateX(180deg);
            &:hover {
                animation: shake-lr 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            }
            &:before {
                content: '';
                padding-bottom: 100%;
                display: block;
                background: #252549;
                position: relative;
                z-index: 1;
            }
            &:nth-child(5n) {
                margin-right: 0;
            }
            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border: 2px solid transparent;
                border-radius: 3px;
            }
            &.is-good {
                background-image: url('../img/icons/mines-icons/icon-diamond-in-game.svg');
                background-size: 55% 46%;
                &.is-opened {
                    &:after {
                        border-color: #0076FE;
                        transition: border-color $trans;
                    }
                }
            }
            &.is-bad {
                background-image: url('../img/icons/mines-icons/icon-bomb-in-game.svg');
                background-size: 38.3% 50%;
                &.is-opened {
                    &:after {
                        border-color: #FF547C;
                        transition: border-color $trans;
                    }
                }
            }
            &.is-opened {
                &:before {
                    opacity: 0;
                    transition: opacity $trans;
                    transition-delay: .2s;
                }
            }
            &.is-opened {
                animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            }
        }
    }
    .game-inner-play {
        padding-top: 35px;
        padding-bottom: 25px;
        @media (max-width: 1170px) {
            padding: 20px 20px 10px;
        }
    }
}

@keyframes shake-lr {
    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }
    10% {
        transform: rotate(4deg);
    }
    20%,
    40%,
    60% {
        transform: rotate(-5deg);
    }
    30%,
    50%,
    70% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(-4deg);
    }
    90% {
        transform: rotate(4deg);
    }
}

@keyframes flip-horizontal-bottom {
    0% {
        transform: rotateX(180deg);
    }
    100% {
        transform: rotateX(0);
    }
}

// mines table
.mines-table {
    padding: 30px;
    background: #16163A;
    border-radius: $bradius;
    margin-bottom: $gap;
    @media (max-width: 1170px) {
        padding: 20px;
    }
    &__title {
        margin-bottom: 25px;
        font-size: rem(16);
        color: $white;
        @media (max-width: 650px) {
            margin-bottom: 15px;
        }
    }
    &-inner {
        @media (max-width: 650px) {
            .t-body {
                .t-row {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 1fr 1fr;
                    grid-template-areas: "player b" "player d";
                }
            }
            .t-head {
                .t-row .t-item {
                    &:nth-child(2) {
                        margin-left: auto;
                        &:after {
                            content: '/';
                            margin: 0 3px;
                        }
                    }
                    &:nth-child(3) {
                        padding-right: 10px;
                    }
                }
            }
        }
        .t-item {
            @media (max-width: 650px) {
                width: auto !important;
                padding-right: 0;
            }
            &:nth-child(1) {
                width: cw(244, 805);
                padding-left: 30px;
                @media (max-width: 650px) {
                    grid-area: player;
                    padding-left: 10px;
                }
            }
            &:nth-child(2) {
                width: cw(320, 804);
                @media (max-width: 650px) {
                    justify-content: flex-end;
                }
            }
            &:nth-child(3) {
                width: cw(241, 804);
                padding-right: 30px;
                @media (max-width: 650px) {
                    justify-content: flex-end;
                    padding-right: 0;
                }
            }
        }
    }
}