<!DOCTYPE html>
<html lang="ru">

@@include("../blocks/modules/head/head.html")

<body>

    <div class="custom-page">
        <a href="#" class="custom-page__logo"><img src="assets/img/default/logos/default_logo.svg" alt></a>
        <h1 class="custom-page__title">Ошибка 404</h1>
        <div class="custom-page__subtitle">Страница не существует или удалена</div>
        <div class="custom-page__text"></div>
        <a href="#" class="custom-page__btn def-btn def-btn--accent">Вернуться на главную</a>
    </div>

</body>

</html>