<!DOCTYPE html>
<html lang="ru">

@@include("../blocks/modules/head/head.html")

<body>

    <div class="custom-page">
        <a href="#" class="custom-page__logo"><img src="assets/img/default/logos/default_logo.svg" alt></a>
        <h1 class="custom-page__title">Checking your browser...</h1>
        <div class="custom-page__subtitle">Пожалуйста дождитесь проверки вашего браузера <br> перед посещением сайта</div>
        <div class="custom-page__text custom-page__text--white">This process is automatic. Yor browser will be redirect to your requested content shortly. <br> Please allow up to 5 seconds...</div>
        <div class="custom-page__text">Этот процесс автоматический и займет несколько секунд, после чего <br> произойдет переход на сайт.</div>
        <div class="custom-page__img custom-page__img--cloudflare"><img src="assets/img/default/cloudflare_logo.png" alt></div>
    </div>

</body>

</html>